[submodule "components/thingjs_core"]
	path = components/thingjs_core
	url = git@github.com:rpiontik/ThingJS-core.git
[submodule "components/thingjs_front"]
	path = components/thingjs_front
	url = git@github.com:rpiontik/ThingJS-front.git
[submodule "components/thingjs_boards"]
	path = components/thingjs_boards
	url = git@github.com:rpiontik/ThingsJS-boards.git
[submodule "components/thingjs_extern"]
	path = components/thingjs_extern
	url = git@github.com:rpiontik/ThingJS-extern.git
[submodule "components/thingjs_stdi"]
	path = components/thingjs_stdi
	url = git@github.com:rpiontik/ThingJS-stdi.git
